body {
font-family: Arial;
background: rgb(12, 11, 11);
margin: 0rem;
color: white;
}

/* Inicio Header */
header{
padding-top: 0;
width: 100%;
background-size: cover;
background-position: center;
text-align:justify;
position: fixed;
z-index: 3;
background-color: rgb(0, 0, 0);
}

.filhoheader {
display: inline;
}

.barraL {
height: 100%;
width: 0;
position: fixed;
z-index: 3;
top: 2.46875rem;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
}

button{
background-color: #000000;
}

.barraL a {
padding: 0.5rem 0.5rem 0.5rem 2rem;
text-decoration: none;
font-size: 1.5625rem;
color: #818181;
display: block;
transition: 0.3s;
}

.primeiro {
margin-top: 1.25rem;
}

.barraL a:hover {
color: rgb(101, 184, 166);
}

.barraL .fechar {
position: absolute;
top: 0;
right: 0.625rem;
font-size: 1.5625rem;
margin-left: 3.125rem;
}

.abrir {
font-size: 2rem;
cursor: pointer;
background-color: #000000;
color: white;
padding: 0.625rem 0.9375rem;
border: none;
}

.abrir:hover {
background-color: rgb(101, 184, 166);
transition: 0.45s;
}

@media screen and (max-height: 450px) {
.barraL {padding-top: 0.9375rem;}
.barraL a {font-size: 1.125rem;}
}

#texto{
position: absolute;
top: 0;
right: 0.3125rem;
left: 0.9375rem;
margin-left: 1.5625rem;
margin-top: 0.3125rem;
}

/* Fake image */
.fakeimg {
background-color: rgb(12, 11, 11);
display: inline-flex;
padding: 1.25rem;
color: white;
border: solid;
border-color: #65B8A6;
aspect-ratio: 940 / 300; 
}

.fakeimg2 {
background-color: rgb(12, 11, 11);
display: inline-flex;
padding: 1.25rem;
color: white;
border: solid;
border-color: #65B8A6;
aspect-ratio: 940 / 300; 
margin-top: 1.875rem;
}

main{
padding: 3.125rem;
background-color: rgb(12, 11, 11);
margin-bottom: 0.625rem;
}

.card {
padding:1.25rem;
margin-left: 4.375rem;
}

.texto{
padding-left: 1.25rem;
}

.infomid{
color: gray;
padding: 0.625rem;
}

h2{
font-family: 'Times New Roman', Times, serif;
padding: 0.625rem;
}

.calendario{
height: 1.25rem;
}

.controle{
height: 1.5625rem;
border-radius: 100px;
}

.mid{
display: flex;
}

a{
display: flex;
}

/*Inicio */
footer{ /* Ocupar a largura toda */
width: 100%;
position: static;
}

/* Divide em Blocos */
.footer-content{
background-color: black;
display: grid;
grid-template-columns: repeat(4,1fr);
padding: 1.875rem 2.1875rem;
}

footer ul li {
color: white;
}

.footer-logo{
width: 12.5rem;
}

/*Deixa na mesma altura do que os "Blocos" contato e créditos*/
.footer-lista-blog{
margin: 0rem;
}

/*Espaçamento entres os li*/
.footer-lista-blog li{
margin: 0.3125rem;
}

.final h3 p{
display: inline;
}

.game{
color: #65B8A6;
}
/* Mantém a bolinha do li de uma cor no footer */
footer ul li{
color: #65B8A6;
}

/* Mantém o texto do li de outra cor no footer */
footer ul li span{
color: white;
}

/*Fim footer */
a{
text-decoration: none;
color: white;
}

i{
margin-right: 0.625rem;
margin-bottom: 0.625rem;
}
.txt {
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: rgb(2, 2, 2);
}

.txt .jg {
z-index: 2;
color: #fff;
width: 70%;
margin-top: 3.125rem;
display: none;
}

.txt .jg.active {
display: block;
}

.txt .jg h1 {
font-size: 2.5rem;
font-weight: 1000;
text-transform: uppercase;
margin-bottom: 2.5rem;
}

.txt .jg h1 span {
font-size: 2.1875rem;
font-weight: 500;
}

.txt .jg a {
background: #65b8a6;
padding: 0.75rem;
color: rgb(0, 0, 0);
font-size: 0.875rem;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0.1875rem;
width: 4.375rem;
}

.video-container {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
}

.video-container:before {
z-index: 1;
content: '';
position: absolute;
background: rgba(34, 33, 33, 0.3);
width: 100%;
height: 110%;
top: 0;
left: 0;
}

.video-container video {
width: 100%;
height: auto;
max-height: 100%;
object-fit: contain;
}

.slide {
z-index: 2;
position: relative;
display: flex;
justify-content: center;
align-items: center;
transform: translateY(5rem);
margin-bottom: 0.75rem;
}

.slide .xy {
width: 0.75rem;
height: 0.75rem;
background: #fff;
border-radius: 50%;
cursor: pointer;
box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
transition: 0.3s ease;
}

.slide .xy.active {
background: #65b8a6;
}

.slide .xy:not(:last-child) {
margin-right: 1.25rem;
}

.slide .xy:hover {
transform: scale(1.2);
}

.video-s {
position: absolute;
width: 100%;
height: 50rem;
clip-path: circle(0% at 0 50%);
}

.video-s.active {
clip-path: circle(150% at 0 50%);
transition: 2s ease;
transition-property: clip-path;
}

.eu{
    text-align: center;
    margin-top: 6.875rem;
}
